.team-project-management-committee-2,
.team-project-management-committee-2 * {
  box-sizing: border-box;
}
.team-project-management-committee-2 {
  background: #ffffff;
  height: 3972px;
  position: relative;
  overflow: hidden;
}
.introduction-of-age {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  right: 47.71%;
  left: 18.75%;
  width: 33.54%;
  bottom: 84.34%;
  top: 14.65%;
  height: 1.01%;
}
.vector-2 {
  width: 1922px;
  height: 0px;
  position: absolute;
  left: -1px;
  top: 473px;
  overflow: visible;
}
.ellipse-190 {
  background: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-color: #d10d52;
  border-width: 1px;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 348px;
  top: 461px;
}
.ellipse-191 {
  background: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-color: #d10d52;
  border-width: 1px;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 1548px;
  top: 461px;
}
.group-2697 {
  position: absolute;
  inset: 0;
}
.rectangle-478 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 93.96%;
  height: 6.04%;
  overflow: visible;
}
.copyright-2024-the-apache-software-foundation-the-apache-software-foundation-apache-age-age-apache-the-apache-feather-and-the-apache-age-project-logo-are-either-registered-trademarks-or-trademarks-of-the-apache-software-foundation {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 355px;
  top: 3824px;
  width: 1210px;
  height: 57px;
}
.copyright-2024-the-apache-software-foundation-the-apache-software-foundation-apache-age-age-apache-the-apache-feather-and-the-apache-age-project-logo-are-either-registered-trademarks-or-trademarks-of-the-apache-software-foundation-span {
  color: #ffffff;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.copyright-2024-the-apache-software-foundation-the-apache-software-foundation-apache-age-age-apache-the-apache-feather-and-the-apache-age-project-logo-are-either-registered-trademarks-or-trademarks-of-the-apache-software-foundation-span2 {
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.copyright-2024-the-apache-software-foundation-the-apache-software-foundation-apache-age-age-apache-the-apache-feather-and-the-apache-age-project-logo-are-either-registered-trademarks-or-trademarks-of-the-apache-software-foundation-span3 {
  color: #ffffff;
  font-family: "Roboto-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
}
.copyright-2024-the-apache-software-foundation-the-apache-software-foundation-apache-age-age-apache-the-apache-feather-and-the-apache-age-project-logo-are-either-registered-trademarks-or-trademarks-of-the-apache-software-foundation-span4 {
  color: #ffffff;
  font-family: "Roboto-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.introduction-of-age2 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  right: 33.75%;
  left: 18.75%;
  width: 47.5%;
  bottom: 34.57%;
  top: 64.43%;
  height: 1.01%;
}
.union-45 {
  height: auto;
  position: absolute;
  right: 66.98%;
  left: 18.75%;
  width: 14.27%;
  bottom: 22.48%;
  top: 68.15%;
  height: 9.37%;
  overflow: visible;
}
.union-46 {
  height: auto;
  position: absolute;
  right: 66.98%;
  left: 18.75%;
  width: 14.27%;
  bottom: 11.3%;
  top: 79.33%;
  height: 9.37%;
  overflow: visible;
}
.image-23 {
  position: absolute;
  right: 73.07%;
  left: 24.84%;
  width: 2.08%;
  bottom: 23.99%;
  top: 74.95%;
  height: 1.06%;
  object-fit: cover;
}
.image-24 {
  position: absolute;
  right: 73.07%;
  left: 24.84%;
  width: 2.08%;
  bottom: 12.81%;
  top: 86.13%;
  height: 1.06%;
  object-fit: cover;
}
.rafsun-42 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 462px;
  top: 3027px;
  width: 70px;
  height: 23px;
}
.shinhanbyeol {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 446px;
  top: 3466px;
  width: 102px;
  height: 20px;
}
.union-47 {
  height: auto;
  position: absolute;
  right: 50.89%;
  left: 34.84%;
  width: 14.27%;
  bottom: 22.48%;
  top: 68.15%;
  height: 9.37%;
  overflow: visible;
}
.union-48 {
  height: auto;
  position: absolute;
  right: 50.89%;
  left: 34.84%;
  width: 14.27%;
  bottom: 11.3%;
  top: 79.33%;
  height: 9.37%;
  overflow: visible;
}
.union-49 {
  height: auto;
  position: absolute;
  right: 34.79%;
  left: 50.94%;
  width: 14.27%;
  bottom: 22.48%;
  top: 68.15%;
  height: 9.37%;
  overflow: visible;
}
.union-50 {
  height: auto;
  position: absolute;
  right: 18.75%;
  left: 66.98%;
  width: 14.27%;
  bottom: 22.48%;
  top: 68.15%;
  height: 9.37%;
  overflow: visible;
}
.image-25 {
  position: absolute;
  right: 56.98%;
  left: 40.94%;
  width: 2.08%;
  bottom: 23.99%;
  top: 74.95%;
  height: 1.06%;
  object-fit: cover;
}
.image-26 {
  position: absolute;
  right: 56.98%;
  left: 40.94%;
  width: 2.08%;
  bottom: 12.81%;
  top: 86.13%;
  height: 1.06%;
  object-fit: cover;
}
.image-27 {
  position: absolute;
  right: 40.89%;
  left: 57.03%;
  width: 2.08%;
  bottom: 23.99%;
  top: 74.95%;
  height: 1.06%;
  object-fit: cover;
}
.image-28 {
  position: absolute;
  right: 24.84%;
  left: 73.07%;
  width: 2.08%;
  bottom: 23.99%;
  top: 74.95%;
  height: 1.06%;
  object-fit: cover;
}
.muhammad-taha-naveed {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 714px;
  top: 3027px;
  width: 183px;
  height: 23px;
}
.quocvietvuong {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 753px;
  top: 3471px;
  width: 105px;
  height: 23px;
}
.afidegnum {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1070px;
  top: 3027px;
  width: 89px;
  height: 23px;
}
.aked-21 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1378px;
  top: 3027px;
  width: 89px;
  height: 23px;
}
.rafsun-masud {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 430px;
  top: 2922px;
  width: 134px;
  height: 23px;
}
.david-shin {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 446px;
  top: 3366px;
  width: 102px;
  height: 23px;
}
._85064052 {
  height: auto;
  position: absolute;
  right: 70.62%;
  left: 22.4%;
  width: 6.98%;
  bottom: 26.99%;
  top: 69.61%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
._85064053 {
  height: auto;
  position: absolute;
  right: 70.62%;
  left: 22.4%;
  width: 6.98%;
  bottom: 15.81%;
  top: 80.79%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
.muhammad-taha-naveed2 {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 687px;
  top: 2922px;
  width: 237px;
  height: 23px;
}
.vuong-quoc-viet {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 729px;
  top: 3366px;
  width: 153px;
  height: 23px;
}
._85064054 {
  height: auto;
  position: absolute;
  right: 54.56%;
  left: 38.44%;
  width: 7%;
  bottom: 26.99%;
  top: 69.61%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
._85064055 {
  height: auto;
  position: absolute;
  right: 54.56%;
  left: 38.44%;
  width: 7%;
  bottom: 15.81%;
  top: 80.79%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
.kokou-afidegnon {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1027px;
  top: 2922px;
  width: 175px;
  height: 23px;
}
._85064056 {
  height: auto;
  position: absolute;
  right: 38.41%;
  left: 54.58%;
  width: 7%;
  bottom: 26.99%;
  top: 69.61%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
.andrew-ko {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1362px;
  top: 2922px;
  width: 122.52px;
  height: 23px;
}
._85064057 {
  height: auto;
  position: absolute;
  right: 22.37%;
  left: 70.62%;
  width: 7%;
  bottom: 26.99%;
  top: 69.61%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
.introduction-of-age3 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  right: 33.02%;
  left: 33.44%;
  width: 33.54%;
  bottom: 92.7%;
  top: 6.29%;
  height: 1.01%;
}
.age-was-under-development-since-2019-by-a-team-of-engineers-at-bitnine-global-inc-the-project-originally-born-out-of-agens-graph-a-multi-model-graph-database-fork-of-postgre-sql-was-donated-to-the-apache-software-foundation-and-entered-incubation-in-apri {
  position: absolute;
  inset: 0;
}
.the-apache-age-team-has-active-members-who-help-each-other-develop-the-platform-solve-problems-and-share-best-practices-we-welcome-contributions-to-the-project-if-you-re-interested-in-contributing-take-a-look-at-the-contribution-guide {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 18.75%;
  left: 18.75%;
  width: 62.5%;
  bottom: 90.11%;
  top: 8.61%;
  height: 1.28%;
}
.the-apache-age-team-has-active-members-who-help-each-other-develop-the-platform-solve-problems-and-share-best-practices-we-welcome-contributions-to-the-project-if-you-re-interested-in-contributing-take-a-look-at-the-contribution-guide-span {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.the-apache-age-team-has-active-members-who-help-each-other-develop-the-platform-solve-problems-and-share-best-practices-we-welcome-contributions-to-the-project-if-you-re-interested-in-contributing-take-a-look-at-the-contribution-guide-span2 {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.the-apache-age-team-has-active-members-who-help-each-other-develop-the-platform-solve-problems-and-share-best-practices-we-welcome-contributions-to-the-project-if-you-re-interested-in-contributing-take-a-look-at-the-contribution-guide-span3 {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.the-apache-age-team-has-active-members-who-help-each-other-develop-the-platform-solve-problems-and-share-best-practices-we-welcome-contributions-to-the-project-if-you-re-interested-in-contributing-take-a-look-at-the-contribution-guide-span4 {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}
.the-apache-age-team-has-active-members-who-help-each-other-develop-the-platform-solve-problems-and-share-best-practices-we-welcome-contributions-to-the-project-if-you-re-interested-in-contributing-take-a-look-at-the-contribution-guide-span5 {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.rectangle-9910 {
  background: #ffffff;
  border-radius: 8px;
  width: 270px;
  height: 372px;
  position: absolute;
  left: 361px;
  top: 1174px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-9909 {
  background: #ffffff;
  border-radius: 8px;
  width: 270px;
  height: 372px;
  position: absolute;
  left: 1290px;
  top: 730px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-9906 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #25377e;
  border-width: 1px;
  width: 270px;
  height: 372px;
  position: absolute;
  left: 360px;
  top: 730px;
}
.image-8 {
  position: absolute;
  right: 73.18%;
  left: 24.74%;
  width: 2.08%;
  bottom: 73.77%;
  top: 25.18%;
  height: 1.06%;
  object-fit: cover;
}
.intersect {
  width: 192.25px;
  height: 41px;
  position: absolute;
  left: 399px;
  top: 730px;
  overflow: visible;
}
.chair {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 472px;
  top: 741px;
  width: 47px;
  height: 19px;
}
.eyab {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 466px;
  top: 1050px;
  width: 59px;
  height: 23px;
}
.image-13 {
  position: absolute;
  right: 24.74%;
  left: 73.18%;
  width: 2.08%;
  bottom: 73.77%;
  top: 25.18%;
  height: 1.06%;
  object-fit: cover;
}
.emotionbug {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1381px;
  top: 1050px;
  width: 89px;
  height: 23px;
}
.image-14 {
  position: absolute;
  right: 73.12%;
  left: 24.79%;
  width: 2.08%;
  bottom: 62.59%;
  top: 36.35%;
  height: 1.06%;
  object-fit: cover;
}
.felixcheung {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 453px;
  top: 1494px;
  width: 87px;
  height: 23px;
}
.eya-badal {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 450px;
  top: 945px;
  width: 90px;
  height: 23px;
}
._85064040 {
  height: auto;
  position: absolute;
  right: 70.73%;
  left: 22.29%;
  width: 6.98%;
  bottom: 76.76%;
  top: 19.84%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
.rectangle-9908 {
  background: #ffffff;
  border-radius: 8px;
  width: 270px;
  height: 372px;
  position: absolute;
  left: 980px;
  top: 730px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
.image-12 {
  position: absolute;
  right: 40.89%;
  left: 57.03%;
  width: 2.08%;
  bottom: 73.77%;
  top: 25.18%;
  height: 1.06%;
  object-fit: cover;
}
.djkevincr {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1071px;
  top: 1050px;
  width: 89px;
  height: 23px;
}
.kevin-ratnasekera {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1028px;
  top: 945px;
  width: 175px;
  height: 23px;
}
._85064048 {
  height: auto;
  position: absolute;
  right: 38.41%;
  left: 54.58%;
  width: 7%;
  bottom: 76.76%;
  top: 19.84%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
.alex-kwak {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1364px;
  top: 945px;
  width: 123px;
  height: 23px;
}
._85064042 {
  height: auto;
  position: absolute;
  right: 22.29%;
  left: 70.73%;
  width: 6.98%;
  bottom: 76.76%;
  top: 19.84%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
.felix-cheung {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 429px;
  top: 1389px;
  width: 134px;
  height: 23px;
}
._85064043 {
  height: auto;
  position: absolute;
  right: 70.68%;
  left: 22.34%;
  width: 6.98%;
  bottom: 65.58%;
  top: 31.02%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
.rectangle-9911 {
  background: #ffffff;
  border-radius: 8px;
  width: 270px;
  height: 372px;
  position: absolute;
  left: 670px;
  top: 1174px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
.jasper-blues {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 744px;
  top: 1389px;
  width: 122.52px;
  height: 23px;
}
._85064044 {
  height: auto;
  position: absolute;
  right: 54.56%;
  left: 38.44%;
  width: 7%;
  bottom: 65.58%;
  top: 31.02%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
.image-15 {
  position: absolute;
  right: 57.03%;
  left: 40.89%;
  width: 2.08%;
  bottom: 62.59%;
  top: 36.35%;
  height: 1.06%;
  object-fit: cover;
}
.jasperblues {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 763px;
  top: 1494px;
  width: 85px;
  height: 23px;
}
.union-38 {
  height: auto;
  position: absolute;
  right: 34.9%;
  left: 51.04%;
  width: 14.06%;
  bottom: 61.08%;
  top: 29.56%;
  height: 9.37%;
  overflow: visible;
}
.john-gemignani {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1029px;
  top: 1389px;
  width: 175px;
  height: 23px;
}
._85064045 {
  height: auto;
  position: absolute;
  right: 38.31%;
  left: 54.69%;
  width: 7%;
  bottom: 65.58%;
  top: 31.02%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
.image-16 {
  position: absolute;
  right: 40.78%;
  left: 57.14%;
  width: 2.08%;
  bottom: 62.59%;
  top: 36.35%;
  height: 1.06%;
  object-fit: cover;
}
.john-gemignani2 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1049px;
  top: 1494px;
  width: 135px;
  height: 23px;
}
.union-39 {
  height: auto;
  position: absolute;
  right: 18.75%;
  left: 67.19%;
  width: 14.06%;
  bottom: 61.08%;
  top: 29.56%;
  height: 9.37%;
  overflow: visible;
}
.josh-innis {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1364px;
  top: 1389px;
  width: 122.52px;
  height: 23px;
}
._85064046 {
  height: auto;
  position: absolute;
  right: 22.27%;
  left: 70.73%;
  width: 7%;
  bottom: 65.58%;
  top: 31.02%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
.image-17 {
  position: absolute;
  right: 24.74%;
  left: 73.18%;
  width: 2.08%;
  bottom: 62.59%;
  top: 36.35%;
  height: 1.06%;
  object-fit: cover;
}
.josh-innis2 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1381px;
  top: 1494px;
  width: 89px;
  height: 23px;
}
.rectangle-9912 {
  background: #ffffff;
  border-radius: 8px;
  width: 270px;
  height: 372px;
  position: absolute;
  left: 361px;
  top: 1618px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-9914 {
  background: #ffffff;
  border-radius: 8px;
  width: 270px;
  height: 372px;
  position: absolute;
  left: 361px;
  top: 2062px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
.image-29 {
  position: absolute;
  right: 73.12%;
  left: 24.79%;
  width: 2.08%;
  bottom: 51.41%;
  top: 47.53%;
  height: 1.06%;
  object-fit: cover;
}
.image-33 {
  position: absolute;
  right: 73.12%;
  left: 24.79%;
  width: 2.08%;
  bottom: 40.23%;
  top: 58.71%;
  height: 1.06%;
  object-fit: cover;
}
.trista-zero {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 453px;
  top: 1938px;
  width: 87px;
  height: 23px;
}
.muhammadshoaib {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 429px;
  top: 2382px;
  width: 135px;
  height: 23px;
}
.juan-pan {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 429px;
  top: 1833px;
  width: 134px;
  height: 23px;
}
.muhammad-shoaib {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 406px;
  top: 2277px;
  width: 180px;
  height: 23px;
}
._85064058 {
  height: auto;
  position: absolute;
  right: 70.68%;
  left: 22.34%;
  width: 6.98%;
  bottom: 54.41%;
  top: 42.2%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
._85064062 {
  height: auto;
  position: absolute;
  right: 70.68%;
  left: 22.34%;
  width: 6.98%;
  bottom: 43.23%;
  top: 53.37%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
.rectangle-9913 {
  background: #ffffff;
  border-radius: 8px;
  width: 270px;
  height: 372px;
  position: absolute;
  left: 670px;
  top: 1618px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
.pieterjan-de-potter {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 718px;
  top: 1833px;
  width: 175px;
  height: 23px;
}
._85064059 {
  height: auto;
  position: absolute;
  right: 54.56%;
  left: 38.44%;
  width: 7%;
  bottom: 54.41%;
  top: 42.2%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
.image-30 {
  position: absolute;
  right: 57.03%;
  left: 40.89%;
  width: 2.08%;
  bottom: 51.41%;
  top: 47.53%;
  height: 1.06%;
  object-fit: cover;
}
.pdpotter {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 774px;
  top: 1938px;
  width: 63px;
  height: 23px;
}
.union-51 {
  height: auto;
  position: absolute;
  right: 34.9%;
  left: 51.04%;
  width: 14.06%;
  bottom: 49.9%;
  top: 40.74%;
  height: 9.37%;
  overflow: visible;
}
.nick-sorrell {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1060px;
  top: 1833px;
  width: 113px;
  height: 23px;
}
._85064060 {
  height: auto;
  position: absolute;
  right: 38.31%;
  left: 54.69%;
  width: 7%;
  bottom: 54.41%;
  top: 42.2%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
.image-31 {
  position: absolute;
  right: 40.78%;
  left: 57.14%;
  width: 2.08%;
  bottom: 51.41%;
  top: 47.53%;
  height: 1.06%;
  object-fit: cover;
}
.sorrell {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1049px;
  top: 1938px;
  width: 135px;
  height: 23px;
}
.union-52 {
  height: auto;
  position: absolute;
  right: 18.75%;
  left: 67.19%;
  width: 14.06%;
  bottom: 49.9%;
  top: 40.74%;
  height: 9.37%;
  overflow: visible;
}
.von-gosling {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1364px;
  top: 1833px;
  width: 122.52px;
  height: 23px;
}
._85064061 {
  height: auto;
  position: absolute;
  right: 22.27%;
  left: 70.73%;
  width: 7%;
  bottom: 54.41%;
  top: 42.2%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
.image-32 {
  position: absolute;
  right: 24.74%;
  left: 73.18%;
  width: 2.08%;
  bottom: 51.41%;
  top: 47.53%;
  height: 1.06%;
  object-fit: cover;
}
.von-gosling2 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1381px;
  top: 1938px;
  width: 89px;
  height: 23px;
}
.rectangle-9907 {
  background: #ffffff;
  border-radius: 8px;
  width: 270px;
  height: 372px;
  position: absolute;
  left: 670px;
  top: 730px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
.image-11 {
  position: absolute;
  right: 57.03%;
  left: 40.89%;
  width: 2.08%;
  bottom: 73.77%;
  top: 25.18%;
  height: 1.06%;
  object-fit: cover;
}
.dehowef {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 763px;
  top: 1050px;
  width: 85px;
  height: 23px;
}
.dehowe-feng {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 744px;
  top: 945px;
  width: 122.52px;
  height: 23px;
}
._85064047 {
  height: auto;
  position: absolute;
  right: 54.56%;
  left: 38.44%;
  width: 7%;
  bottom: 76.76%;
  top: 19.84%;
  height: 3.4%;
  overflow: visible;
  object-fit: cover;
}
.div {
  position: sticky;
  left: 0px;
  top: 0px;
}
.group {
  width: 1920px;
  height: 105px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.group-2670 {
  width: 153px;
  height: 48px;
  position: static;
}
.union-5 {
  width: 153px;
  height: 48px;
  position: absolute;
  left: 1707px;
  top: 28px;
  overflow: visible;
}
.download-age {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 1730px;
  top: 42px;
}
.group-2681 {
  width: 663px;
  height: 19px;
  position: static;
}
.apache-age {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 960px;
  top: 42px;
}
.documentation {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1109px;
  top: 42px;
}
.contribution {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1279px;
  top: 42px;
}
.community {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1427px;
  top: 42px;
}
.apache {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1569px;
  top: 42px;
}
.group-5751 {
  width: 80px;
  height: 38.56px;
  position: absolute;
  left: 60px;
  top: 33px;
  overflow: visible;
}
