.b,
.b * {
  box-sizing: border-box;
}
.b {
  background: #ffffff;
  height: 2834px;
  position: relative;
  overflow: hidden;
}
.rectangle-443 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 61.89%;
  top: 3.71%;
  height: 34.4%;
  overflow: visible;
}
.mask-group {
  opacity: 0.4000000059604645;
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 61.89%;
  top: 3.71%;
  height: 34.4%;
  overflow: visible;
}
.rectangle-478 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 91.53%;
  height: 8.47%;
  overflow: visible;
}
.rectangle-482 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 8.47%;
  top: 86.59%;
  height: 4.94%;
  overflow: visible;
}
.group-5938 {
  position: absolute;
  inset: 0;
}
.group-2678 {
  width: 188px;
  height: 40px;
  position: static;
}
.group-2618 {
  width: 188px;
  height: 40px;
  position: static;
}
.give-feedback {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 47.76%;
  left: 45.1%;
  width: 7.14%;
  bottom: 10.48%;
  top: 88.71%;
  height: 0.81%;
}
.group-2540 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1014px;
  top: 2504px;
  overflow: visible;
}
.group-5939 {
  position: absolute;
  inset: 0;
}
.group-25402 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1014px;
  top: 2504px;
  overflow: visible;
}
.rectangle-527 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 13.41%;
  top: 38.11%;
  height: 48.48%;
  overflow: visible;
}
.group-2612 {
  height: auto;
  position: absolute;
  left: 1057px;
  top: 1903.05px;
  overflow: visible;
}
.group-2613 {
  height: auto;
  position: absolute;
  left: 384px;
  top: 1903.05px;
  overflow: visible;
}
.what-is-apache {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  right: 68.18%;
  left: 18.75%;
  width: 13.07%;
  bottom: 48.24%;
  top: 50.28%;
  height: 1.48%;
}
.feature-overview {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  right: 66.82%;
  left: 18.75%;
  width: 14.43%;
  bottom: 35.64%;
  top: 62.88%;
  height: 1.48%;
}
.group-5751 {
  height: auto;
  position: absolute;
  right: 64.35%;
  left: 32.08%;
  width: 3.57%;
  bottom: 48.55%;
  top: 50.28%;
  height: 1.16%;
  overflow: visible;
}
.group-2614 {
  position: absolute;
  inset: 0;
}
.show-more {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 21.46%;
  left: 74.32%;
  width: 4.22%;
  bottom: 48.45%;
  top: 50.88%;
  height: 0.67%;
}
.group-25403 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1519px;
  top: 1431px;
  overflow: visible;
}
.group-2615 {
  height: auto;
  position: absolute;
  right: 19.5%;
  left: 70.99%;
  width: 9.51%;
  bottom: 27.84%;
  top: 67.53%;
  height: 4.63%;
  overflow: visible;
}
.group-2616 {
  position: absolute;
  inset: 0;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "MyriadPro-Regular", sans-serif;
  font-size: 92.88400268554688px;
  font-weight: 400;
  position: absolute;
  right: 52.64%;
  left: 45.95%;
  width: 1.41%;
  bottom: 28.93%;
  top: 67.15%;
  height: 3.92%;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "MyriadPro-Regular", sans-serif;
  font-size: 92.88400268554688px;
  font-weight: 400;
  position: absolute;
  right: 62.5%;
  left: 36.09%;
  width: 1.41%;
  bottom: 28.93%;
  top: 67.15%;
  height: 3.92%;
}
.path-21783 {
  height: auto;
  position: absolute;
  right: 55.21%;
  left: 41.83%;
  width: 2.96%;
  bottom: 29.32%;
  top: 70.02%;
  height: 0.66%;
  overflow: visible;
}
.rectangle-484 {
  height: auto;
  position: absolute;
  right: 55.98%;
  left: 42.5%;
  width: 1.52%;
  bottom: 29.98%;
  top: 68.99%;
  height: 1.03%;
  overflow: visible;
}
.path-21784 {
  height: auto;
  position: absolute;
  right: 60.24%;
  left: 38.28%;
  width: 1.48%;
  bottom: 30.05%;
  top: 67.96%;
  height: 1.99%;
  overflow: visible;
}
.ellipse-187 {
  height: auto;
  position: absolute;
  right: 60.95%;
  left: 37.57%;
  width: 1.48%;
  bottom: 30.54%;
  top: 68.46%;
  height: 1%;
  overflow: visible;
}
.ellipse-188 {
  height: auto;
  position: absolute;
  right: 59.63%;
  left: 39.12%;
  width: 1.25%;
  bottom: 31.55%;
  top: 67.6%;
  height: 0.85%;
  overflow: visible;
}
.ellipse-189 {
  height: auto;
  position: absolute;
  right: 59.63%;
  left: 39.12%;
  width: 1.25%;
  bottom: 29.51%;
  top: 69.64%;
  height: 0.85%;
  overflow: visible;
}
.rectangle-485 {
  height: auto;
  position: absolute;
  right: 57.33%;
  left: 41.15%;
  width: 1.52%;
  bottom: 28.29%;
  top: 70.68%;
  height: 1.03%;
  overflow: visible;
}
.rectangle-486 {
  height: auto;
  position: absolute;
  right: 54.52%;
  left: 43.96%;
  width: 1.52%;
  bottom: 28.29%;
  top: 70.68%;
  height: 1.03%;
  overflow: visible;
}
.path-21785 {
  height: auto;
  position: absolute;
  right: 58.26%;
  left: 40.46%;
  width: 1.28%;
  bottom: 30.36%;
  top: 68.81%;
  height: 0.82%;
  overflow: visible;
}
.path-21786 {
  height: auto;
  position: absolute;
  right: 58.22%;
  left: 40.5%;
  width: 1.28%;
  bottom: 30.29%;
  top: 68.88%;
  height: 0.82%;
  overflow: visible;
}
.apache-age-is-a-postgre-sql-extension-that-provides-graph-database-functionality-the-goal-of-apache-age-is-to-provide-graph-data-processing-and-analytics-capability-to-all-relational-databases-through-apache-age-postgre-sql-users-will-gain-access-to-graph-query-modeling-within-the-existing-relational-database-users-can-read-and-write-graph-data-in-nodes-and-edges-they-can-also-use-various-algorithms-such-as-variable-length-and-edge-traversal-when-analyzing-data {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 360px;
  top: 1515px;
  width: 1198px;
  height: 94px;
}
.apache-age-is-a-postgre-sql-extension-that-provides-graph-database-functionality-the-goal-of-apache-age-is-to-provide-graph-data-processing-and-analytics-capability-to-all-relational-databases-through-apache-age-postgre-sql-users-will-gain-access-to-graph-query-modeling-within-the-existing-relational-database-users-can-read-and-write-graph-data-in-nodes-and-edges-they-can-also-use-various-algorithms-such-as-variable-length-and-edge-traversal-when-analyzing-data-span {
  color: #000000;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.apache-age-is-a-postgre-sql-extension-that-provides-graph-database-functionality-the-goal-of-apache-age-is-to-provide-graph-data-processing-and-analytics-capability-to-all-relational-databases-through-apache-age-postgre-sql-users-will-gain-access-to-graph-query-modeling-within-the-existing-relational-database-users-can-read-and-write-graph-data-in-nodes-and-edges-they-can-also-use-various-algorithms-such-as-variable-length-and-edge-traversal-when-analyzing-data-span2 {
  color: #000000;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.apache-age-is-a-postgre-sql-extension-that-provides-graph-database-functionality-the-goal-of-apache-age-is-to-provide-graph-data-processing-and-analytics-capability-to-all-relational-databases-through-apache-age-postgre-sql-users-will-gain-access-to-graph-query-modeling-within-the-existing-relational-database-users-can-read-and-write-graph-data-in-nodes-and-edges-they-can-also-use-various-algorithms-such-as-variable-length-and-edge-traversal-when-analyzing-data-span3 {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.graph-database-plugin-for-postgre-sql {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 360px;
  top: 2095px;
  width: 210px;
  height: 47px;
}
.hybrid-queries-open-cypher-and-sql {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 696px;
  top: 2095px;
  width: 210px;
  height: 47px;
}
.fast-graph-query-processing {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1036px;
  top: 2095px;
  width: 210px;
  height: 47px;
}
.graph-visualization-and-analytics {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1349px;
  top: 2095px;
  width: 210px;
  height: 47px;
}
.gain-access-to-query-and-visualize-graph-data-in-a-postgre-sql-compatible-relational-databases {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 360px;
  top: 2165px;
  width: 210px;
  height: 80px;
}
.achieve-both-fast-indexing-and-efficient-query-processing {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 1036px;
  top: 2165px;
  width: 210px;
  height: 87px;
}
.hybrid-query-technology-simultaneously-performs-the-queries-for-relational-data-and-graph-data {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 696px;
  top: 2165px;
  width: 210px;
  height: 87px;
}
.provides-visualization-of-graph-and-relational-data-for-clearer-understanding-of-data {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 1349px;
  top: 2165px;
  width: 210px;
  height: 87px;
}
.copyright-2024-the-apache-software-foundation-the-apache-software-foundation-apache-age-age-apache-the-apache-feather-and-the-apache-age-project-logo-are-either-registered-trademarks-or-trademarks-of-the-apache-software-foundation {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 355px;
  top: 2686px;
  width: 1210px;
  height: 57px;
}
.copyright-2024-the-apache-software-foundation-the-apache-software-foundation-apache-age-age-apache-the-apache-feather-and-the-apache-age-project-logo-are-either-registered-trademarks-or-trademarks-of-the-apache-software-foundation-span {
  color: #ffffff;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.copyright-2024-the-apache-software-foundation-the-apache-software-foundation-apache-age-age-apache-the-apache-feather-and-the-apache-age-project-logo-are-either-registered-trademarks-or-trademarks-of-the-apache-software-foundation-span2 {
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.copyright-2024-the-apache-software-foundation-the-apache-software-foundation-apache-age-age-apache-the-apache-feather-and-the-apache-age-project-logo-are-either-registered-trademarks-or-trademarks-of-the-apache-software-foundation-span3 {
  color: #ffffff;
  font-family: "Roboto-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
}
.copyright-2024-the-apache-software-foundation-the-apache-software-foundation-apache-age-age-apache-the-apache-feather-and-the-apache-age-project-logo-are-either-registered-trademarks-or-trademarks-of-the-apache-software-foundation-span4 {
  color: #ffffff;
  font-family: "Roboto-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
._2-3-k-stars {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 41.04%;
  left: 54.27%;
  width: 4.69%;
  bottom: 91.78%;
  top: 7.41%;
  height: 0.81%;
}
._2-3-k-stars-span {
  color: #ffffff;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
._2-3-k-stars-span2 {
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
._61-watching {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 29.95%;
  left: 64.32%;
  width: 5.73%;
  bottom: 91.78%;
  top: 7.41%;
  height: 0.81%;
}
._61-watching-span {
  color: #ffffff;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
._61-watching-span2 {
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
._292-forks {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 21.04%;
  left: 74.48%;
  width: 4.48%;
  bottom: 91.78%;
  top: 7.41%;
  height: 0.81%;
}
._292-forks-span {
  color: #ffffff;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
._292-forks-span2 {
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.group-2421 {
  height: auto;
  position: absolute;
  right: 46.56%;
  left: 51.98%;
  width: 1.46%;
  bottom: 91.64%;
  top: 7.41%;
  height: 0.95%;
  overflow: visible;
}
.group-2422 {
  height: auto;
  position: absolute;
  left: 1185.87px;
  top: 211px;
  overflow: visible;
}
.group-2423 {
  height: auto;
  position: absolute;
  right: 26.04%;
  left: 72.97%;
  width: 0.99%;
  bottom: 91.6%;
  top: 7.45%;
  height: 0.95%;
  overflow: visible;
}
.get-started {
  position: absolute;
  inset: 0;
}
.union-31 {
  height: auto;
  position: absolute;
  right: 37.08%;
  left: 51.98%;
  width: 10.94%;
  bottom: 84.83%;
  top: 13.06%;
  height: 2.12%;
  overflow: visible;
}
.get-started2 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 40.16%;
  left: 55.05%;
  width: 4.79%;
  bottom: 85.53%;
  top: 13.73%;
  height: 0.74%;
}
.graph-data-processing-analytics-for-relational-databases {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 998px;
  top: 257px;
  width: 750px;
  height: 105px;
}
.group-2689 {
  position: absolute;
  inset: 0;
}
.union-33 {
  height: auto;
  position: absolute;
  right: 50.78%;
  left: 34.38%;
  width: 14.84%;
  bottom: 76.53%;
  top: 10.34%;
  height: 13.13%;
  overflow: visible;
}
.group-2680 {
  width: 27.05px;
  height: 19.67px;
  position: absolute;
  left: 901px;
  top: 323.98px;
  transform: translate(0px, -19.13px);
  overflow: visible;
}
._85064040 {
  height: auto;
  position: absolute;
  right: 61.98%;
  left: 35.57%;
  width: 2.45%;
  bottom: 87.05%;
  top: 11.29%;
  height: 1.66%;
  overflow: visible;
  object-fit: cover;
}
.group-2687 {
  width: 105px;
  height: 40px;
  position: static;
}
.path-21787 {
  height: auto;
  position: absolute;
  right: 58.96%;
  left: 35.57%;
  width: 5.47%;
  bottom: 77.17%;
  top: 21.42%;
  height: 1.41%;
  overflow: visible;
}
.question {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 60%;
  left: 36.61%;
  width: 3.39%;
  bottom: 77.52%;
  top: 21.81%;
  height: 0.67%;
}
.group-2686 {
  width: 165px;
  height: 40px;
  position: static;
}
.rectangle-483 {
  height: auto;
  position: absolute;
  right: 55.83%;
  left: 35.57%;
  width: 8.59%;
  bottom: 78.83%;
  top: 19.76%;
  height: 1.41%;
  overflow: visible;
}
.enhancement {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 57.55%;
  left: 37.29%;
  width: 5.16%;
  bottom: 79.18%;
  top: 20.15%;
  height: 0.67%;
}
.ellipse-185 {
  height: auto;
  position: absolute;
  right: 51.85%;
  left: 45.99%;
  width: 2.16%;
  bottom: 77.15%;
  top: 21.38%;
  height: 1.46%;
  overflow: visible;
}
.image-7 {
  position: absolute;
  right: 51.82%;
  left: 45.99%;
  width: 2.19%;
  bottom: 77.17%;
  top: 21.35%;
  height: 1.48%;
  object-fit: cover;
}
.group-2688 {
  width: 233px;
  height: 106px;
  position: static;
}
.sorted-queries-do-not-utilise-indices-when-such-are-introduced {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 683px;
  top: 399.98px;
  width: 233px;
  height: 69px;
}
.opened-2-weeks-ago-by-alteck-45 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 683px;
  top: 486.98px;
  width: 233px;
  height: 19px;
}
.group-2694 {
  position: absolute;
  inset: 0;
}
.union-332 {
  height: auto;
  position: absolute;
  right: 66.41%;
  left: 18.75%;
  width: 14.84%;
  bottom: 54.8%;
  top: 32.07%;
  height: 13.13%;
  overflow: visible;
}
.group-26802 {
  width: 27.05px;
  height: 19.67px;
  position: absolute;
  left: 601px;
  top: 939.98px;
  transform: translate(0px, -19.13px);
  overflow: visible;
}
._850640402 {
  height: auto;
  position: absolute;
  right: 77.6%;
  left: 19.95%;
  width: 2.45%;
  bottom: 65.31%;
  top: 33.03%;
  height: 1.66%;
  overflow: visible;
  object-fit: cover;
}
.path-217872 {
  height: auto;
  position: absolute;
  right: 74.58%;
  left: 19.95%;
  width: 5.47%;
  bottom: 55.43%;
  top: 43.15%;
  height: 1.41%;
  overflow: visible;
}
.question2 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 76.56%;
  left: 21.93%;
  width: 1.51%;
  bottom: 55.79%;
  top: 43.54%;
  height: 0.67%;
}
.rectangle-4832 {
  height: auto;
  position: absolute;
  right: 71.46%;
  left: 19.95%;
  width: 8.59%;
  bottom: 57.09%;
  top: 41.5%;
  height: 1.41%;
  overflow: visible;
}
.enhancement2 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 73.18%;
  left: 21.67%;
  width: 5.16%;
  bottom: 57.45%;
  top: 41.88%;
  height: 0.67%;
}
.ellipse-1852 {
  height: auto;
  position: absolute;
  right: 67.47%;
  left: 30.36%;
  width: 2.16%;
  bottom: 55.42%;
  top: 43.12%;
  height: 1.46%;
  overflow: visible;
}
.image-72 {
  position: absolute;
  right: 67.45%;
  left: 30.36%;
  width: 2.19%;
  bottom: 55.43%;
  top: 43.08%;
  height: 1.48%;
  object-fit: cover;
}
.sorted-queries-do-not-utilise-indices-when-such-are-introduced2 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 383px;
  top: 1015.98px;
  width: 233px;
  height: 69px;
}
.opened-2-weeks-ago-by-alteck-452 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 383px;
  top: 1102.98px;
  width: 233px;
  height: 19px;
}
.ellipse-1853 {
  height: auto;
  position: absolute;
  right: 51.9%;
  left: 45.94%;
  width: 2.16%;
  bottom: 63.25%;
  top: 35.29%;
  height: 1.46%;
  overflow: visible;
}
.group-2690 {
  position: absolute;
  inset: 0;
}
.union-333 {
  height: auto;
  position: absolute;
  right: 50.83%;
  left: 34.32%;
  width: 14.84%;
  bottom: 62.88%;
  top: 23.99%;
  height: 13.13%;
  overflow: visible;
}
.group-26803 {
  width: 27.05px;
  height: 19.67px;
  position: absolute;
  left: 900px;
  top: 710.98px;
  transform: translate(0px, -19.13px);
  overflow: visible;
}
._850640403 {
  height: auto;
  position: absolute;
  right: 62.03%;
  left: 35.52%;
  width: 2.45%;
  bottom: 73.4%;
  top: 24.95%;
  height: 1.66%;
  overflow: visible;
  object-fit: cover;
}
.path-217873 {
  height: auto;
  position: absolute;
  right: 59.01%;
  left: 35.52%;
  width: 5.47%;
  bottom: 63.55%;
  top: 35.04%;
  height: 1.41%;
  overflow: visible;
}
.question3 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 60.05%;
  left: 36.56%;
  width: 3.39%;
  bottom: 63.9%;
  top: 35.43%;
  height: 0.67%;
}
.image-73 {
  position: absolute;
  right: 51.88%;
  left: 45.94%;
  width: 2.19%;
  bottom: 63.55%;
  top: 34.97%;
  height: 1.48%;
  object-fit: cover;
}
.group-26882 {
  width: 233px;
  height: 125.02px;
  position: static;
}
.usage-of-containment-op-instead-of-equal-in-property-constraints-for-lists-and-maps {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 682px;
  top: 786.98px;
  width: 233px;
  height: 69px;
}
.opened-2-weeks-ago-by-alteck-453 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 682px;
  top: 893px;
  width: 233px;
  height: 19px;
}
.group-2693 {
  position: absolute;
  inset: 0;
}
.union-334 {
  height: auto;
  position: absolute;
  right: 66.41%;
  left: 18.75%;
  width: 14.84%;
  bottom: 68.45%;
  top: 18.42%;
  height: 13.13%;
  overflow: visible;
}
.group-26804 {
  width: 27.05px;
  height: 19.67px;
  position: absolute;
  left: 601px;
  top: 552.98px;
  transform: translate(0px, -19.13px);
  overflow: visible;
}
._850640404 {
  height: auto;
  position: absolute;
  right: 77.6%;
  left: 19.95%;
  width: 2.45%;
  bottom: 78.97%;
  top: 19.37%;
  height: 1.66%;
  overflow: visible;
  object-fit: cover;
}
.path-217874 {
  height: auto;
  position: absolute;
  right: 74.58%;
  left: 19.95%;
  width: 5.47%;
  bottom: 69.12%;
  top: 29.46%;
  height: 1.41%;
  overflow: visible;
}
.question4 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 75.62%;
  left: 20.99%;
  width: 3.39%;
  bottom: 69.48%;
  top: 29.85%;
  height: 0.67%;
}
.image-74 {
  position: absolute;
  right: 67.45%;
  left: 30.36%;
  width: 2.19%;
  bottom: 69.12%;
  top: 29.39%;
  height: 1.48%;
  object-fit: cover;
}
.group-26883 {
  width: 233px;
  height: 78.02px;
  position: static;
}
.age-for-ms-azure-postgre-sql {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 383px;
  top: 628.98px;
  width: 233px;
  height: 69px;
}
.opened-last-week-by-aked-21 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 383px;
  top: 688px;
  width: 233px;
  height: 19px;
}
.group-2691 {
  position: absolute;
  inset: 0;
}
.union-335 {
  height: auto;
  position: absolute;
  right: 35.16%;
  left: 50%;
  width: 14.84%;
  bottom: 68.88%;
  top: 18%;
  height: 13.13%;
  overflow: visible;
}
.group-26805 {
  width: 27.05px;
  height: 19.67px;
  position: absolute;
  left: 1201px;
  top: 540.98px;
  transform: translate(0px, -19.13px);
  overflow: visible;
}
._850640405 {
  height: auto;
  position: absolute;
  right: 46.35%;
  left: 51.2%;
  width: 2.45%;
  bottom: 79.39%;
  top: 18.95%;
  height: 1.66%;
  overflow: visible;
  object-fit: cover;
}
.path-217875 {
  height: auto;
  position: absolute;
  right: 43.33%;
  left: 51.2%;
  width: 5.47%;
  bottom: 69.55%;
  top: 29.04%;
  height: 1.41%;
  overflow: visible;
}
.question5 {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 45.31%;
  left: 53.18%;
  width: 1.51%;
  bottom: 69.9%;
  top: 29.43%;
  height: 0.67%;
}
.type-error-apache-age-client-connect-is-not-a-function {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 983px;
  top: 616.98px;
  width: 233px;
  height: 69px;
}
.opened-2-weeks-ago-by-alteck-454 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 983px;
  top: 703.98px;
  width: 233px;
  height: 19px;
}
.group-2669 {
  width: 43px;
  height: 43px;
  position: absolute;
  left: 1183px;
  top: 820px;
  overflow: visible;
}
.group-2695 {
  position: absolute;
  inset: 0;
}
.union-336 {
  height: auto;
  position: absolute;
  right: 82.03%;
  left: 3.12%;
  width: 14.84%;
  bottom: 59.7%;
  top: 27.17%;
  height: 13.13%;
  overflow: visible;
}
.group-26806 {
  width: 27.05px;
  height: 19.67px;
  position: absolute;
  left: 301px;
  top: 800.98px;
  transform: translate(0px, -19.13px);
  overflow: visible;
}
._850640406 {
  height: auto;
  position: absolute;
  right: 93.23%;
  left: 4.32%;
  width: 2.45%;
  bottom: 70.22%;
  top: 28.12%;
  height: 1.66%;
  overflow: visible;
  object-fit: cover;
}
.path-217876 {
  height: auto;
  position: absolute;
  right: 90.21%;
  left: 4.32%;
  width: 5.47%;
  bottom: 60.37%;
  top: 38.21%;
  height: 1.41%;
  overflow: visible;
}
.question6 {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 92.19%;
  left: 6.3%;
  width: 1.51%;
  bottom: 60.73%;
  top: 38.6%;
  height: 0.67%;
}
.direct-function-call-not-executing-for-a-function-in-the-same-file {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 83px;
  top: 876.98px;
  width: 233px;
  height: 69px;
}
.opened-on-dec-27-2023 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 83px;
  top: 963.98px;
  width: 233px;
  height: 19px;
}
.group-26692 {
  width: 43px;
  height: 43px;
  position: absolute;
  left: 283px;
  top: 1080px;
  overflow: visible;
}
.group-2692 {
  position: absolute;
  inset: 0;
}
.union-337 {
  height: auto;
  position: absolute;
  right: 35.16%;
  left: 50%;
  width: 14.84%;
  bottom: 55.22%;
  top: 31.65%;
  height: 13.13%;
  overflow: visible;
}
.group-26807 {
  width: 27.05px;
  height: 19.67px;
  position: absolute;
  left: 1201px;
  top: 927.98px;
  transform: translate(0px, -19.13px);
  overflow: visible;
}
._850640407 {
  height: auto;
  position: absolute;
  right: 46.35%;
  left: 51.2%;
  width: 2.45%;
  bottom: 65.74%;
  top: 32.6%;
  height: 1.66%;
  overflow: visible;
  object-fit: cover;
}
.path-217877 {
  height: auto;
  position: absolute;
  right: 43.33%;
  left: 51.2%;
  width: 5.47%;
  bottom: 55.89%;
  top: 42.7%;
  height: 1.41%;
  overflow: visible;
}
.question7 {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 44.38%;
  left: 52.24%;
  width: 3.39%;
  bottom: 56.25%;
  top: 43.08%;
  height: 0.67%;
}
.direct-function-call-not-executing-for-a-function-in-the-same-file2 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 983px;
  top: 1003.98px;
  width: 233px;
  height: 69px;
}
.opened-2-weeks-ago-by-alteck-455 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 983px;
  top: 1090.98px;
  width: 233px;
  height: 19px;
}
.group-26693 {
  width: 43px;
  height: 43px;
  position: absolute;
  left: 1183px;
  top: 1207px;
  overflow: visible;
}
.union-338 {
  height: auto;
  position: absolute;
  right: 19.53%;
  left: 65.62%;
  width: 14.84%;
  bottom: 62.63%;
  top: 24.24%;
  height: 13.13%;
  overflow: visible;
}
.group-26808 {
  height: auto;
  position: absolute;
  left: 1502px;
  top: 717.98px;
  transform: translate(0px, -19.13px);
  overflow: visible;
}
.group-26872 {
  position: absolute;
  inset: 0;
}
.path-217878 {
  height: auto;
  position: absolute;
  right: 27.66%;
  left: 66.88%;
  width: 5.47%;
  bottom: 63.3%;
  top: 35.29%;
  height: 1.41%;
  overflow: visible;
}
.question8 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 29.58%;
  left: 68.75%;
  width: 1.67%;
  bottom: 63.66%;
  top: 35.67%;
  height: 0.67%;
}
.apache-age-v-1-4-0 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1284px;
  top: 794px;
  width: 175px;
  height: 26px;
}
.release-notes {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1284px;
  top: 724px;
  width: 133px;
  height: 26px;
}
.pre-release-date-25-aug-2023 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1284px;
  top: 838px;
  width: 149px;
  height: 38px;
}
.pre-release-date-25-aug-2023-span {
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.pre-release-date-25-aug-2023-span2 {
  color: #ffffff;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.release-notes-pg-15 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1284px;
  top: 894px;
  width: 130px;
  height: 38px;
}
.release-notes-pg-15-span {
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.release-notes-pg-15-span2 {
  color: #ffffff;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.div3 {
  position: sticky;
  left: 0px;
  top: 0px;
}
.group {
  width: 1920px;
  height: 105px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.group-2670 {
  width: 153px;
  height: 48px;
  position: static;
}
.union-5 {
  width: 153px;
  height: 48px;
  position: absolute;
  left: 1707px;
  top: 28px;
  overflow: visible;
}
.download-age {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 1730px;
  top: 42px;
}
.group-2681 {
  width: 663px;
  height: 19px;
  position: static;
}
.apache-age {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 960px;
  top: 42px;
}
.documentation {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1109px;
  top: 42px;
}
.contribution {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1279px;
  top: 42px;
}
.community {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1427px;
  top: 42px;
}
.apache {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1569px;
  top: 42px;
}
.group-57512 {
  width: 80px;
  height: 38.56px;
  position: absolute;
  left: 60px;
  top: 33px;
  overflow: visible;
}

/*메뉴 드롭다운*/

/* Style the navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333; /* Dark background color */
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; /* Light grey background */
  min-width: 160px; /* Set a min-width if necessary */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #555; /* Darker grey background */
}
