.download-1,
.download-1 * {
  box-sizing: border-box;
}
.download-1 {
  background: #ffffff;
  height: 1286px;
  position: relative;
  overflow: hidden;
}
.introduction-of-age {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  right: 41.77%;
  left: 41.67%;
  width: 16.56%;
  bottom: 77.29%;
  top: 19.44%;
  height: 3.27%;
}
.the-current-stable-version-and-the-latest-release-of-the-graph-extension-is-1-4-0 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  position: absolute;
  left: 360px;
  top: 535px;
  width: 1200px;
  height: 23px;
}
.download-age-release-for-pg-15 {
  color: #d10d52;
  text-align: center;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 23px;
  font-weight: 500;
  position: absolute;
  left: 771px;
  top: 497px;
  width: 450px;
  height: 23px;
}
.line-46 {
  border-style: solid;
  border-color: #000000;
  border-width: 2px 0 0 0;
  width: 1200px;
  height: 0px;
  position: absolute;
  left: 360px;
  top: 430px;
}
.age-release-for-pg-15 {
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 82px;
  top: 430px;
  width: 185px;
  height: 28px;
}
.age-release-for-pg-15-span {
  color: #000000;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.age-release-for-pg-15-span2 {
  color: #d10d52;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.age-release-for-pg-11 {
  color: #d4d4d4;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 82px;
  top: 582px;
  width: 185px;
  height: 28px;
}
.docker-images {
  color: #d4d4d4;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 82px;
  top: 664px;
  width: 185px;
  height: 28px;
}
.age-viewer {
  color: #d4d4d4;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 82px;
  top: 702px;
  width: 185px;
  height: 28px;
}
.Windows-Installer {
  color: #d4d4d4;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 82px;
  top: 740px;
  width: 185px;
  height: 28px;
}

.age-release-for-pg-14 {
  color: #d4d4d4;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 82px;
  top: 468px;
  width: 185px;
  height: 28px;
}
.age-release-for-pg-13 {
  color: #d4d4d4;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 82px;
  top: 506px;
  width: 185px;
  height: 28px;
}
.age-release-for-pg-12 {
  color: #d4d4d4;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 82px;
  top: 544px;
  width: 185px;
  height: 28px;
}
.line-44 {
  border-style: solid;
  border-color: #d4d4d4;
  border-width: 2px 0 0 0;
  width: 1200px;
  height: 0px;
  position: absolute;
  left: 360px;
  top: 839px;
}
.line-47 {
  border-style: solid;
  border-color: #d4d4d4;
  border-width: 1px 0 0 0;
  width: 180px;
  height: 0px;
  position: absolute;
  left: 82px;
  top: 637px;
}
.rectangle-9906 {
  background: #f4f3f3;
  width: 1200px;
  height: 70px;
  position: absolute;
  left: 360px;
  top: 611px;
}
.apache-age-release {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  position: absolute;
  left: 448px;
  top: 637px;
  width: 468px;
  height: 19px;
}
.check-sum-signature {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  position: absolute;
  left: 1023px;
  top: 637px;
  width: 468px;
  height: 19px;
}
.rectangle-9928 {
  display: flex;
  align-items: center; /* 세로 축 중앙 정렬 */
  justify-content: center; /* 가로 축 중앙 정렬 */
  background: #d10d52;
  border-radius: 8px;
  width: 340px;
  height: 78px;
  position: absolute;
  left: 512px;
  top: 721px;
}
.check-sum {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  /* 다음 속성들은 Flexbox 사용 시 필요 없게 될 수 있습니다:
     position: absolute;
     right: 57.6%;
     left: 28.59%;
     width: 13.8%;
     bottom: 39.97%;
     top: 58.24%;
     height: 1.79%; 
     대신, 필요에 따라 width를 조절할 수 있습니다. */
}
.group-2728 {
  position: absolute;
  inset: 0;
}
.rectangle-9923 {
  display: flex;
  justify-content: center; /* 가로 축 중앙 정렬 */
  align-items: center; /* 세로 축 중앙 정렬 */
  background: #28397a;
  border-radius: 8px;
  width: 150px;
  height: 78px;
  position: absolute;
  left: 1097px;
  top: 721px;
}

.rectangle-9924 {
  display: flex;
  justify-content: center; /* 가로 축 중앙 정렬 */
  align-items: center; /* 세로 축 중앙 정렬 */
  background: #28397a;
  border-radius: 8px;
  width: 150px;
  height: 78px;
  position: absolute;
  left: 1267px;
  top: 721px;
}
.check-sum2 {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  /* 절대 위치를 사용하지 않는 경우, 다음 속성들은 필요 없습니다:
  position: absolute;
  right: 36.2%;
  left: 58.33%;
  width: 5.47%;
  bottom: 39.97%;
  top: 58.24%;
  height: 1.79%;
  */
}
.check-sum3 {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  /* 절대 위치를 사용하지 않는 경우, 다음 속성들은 필요 없습니다:
  position: absolute;
  right: 36.2%;
  left: 58.33%;
  width: 5.47%;
  bottom: 39.97%;
  top: 58.24%;
  height: 1.79%;
  */
}
.group-2697 {
  position: absolute;
  inset: 0;
}
.rectangle-478 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 81.34%;
  height: 18.66%;
  overflow: visible;
}
.copyright-2024-the-apache-software-foundation-the-apache-software-foundation-apache-age-age-apache-the-apache-feather-and-the-apache-age-project-logo-are-either-registered-trademarks-or-trademarks-of-the-apache-software-foundation {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 355px;
  top: 1138px;
  width: 1210px;
  height: 57px;
}
.copyright-2024-the-apache-software-foundation-the-apache-software-foundation-apache-age-age-apache-the-apache-feather-and-the-apache-age-project-logo-are-either-registered-trademarks-or-trademarks-of-the-apache-software-foundation-span {
  color: #ffffff;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.copyright-2024-the-apache-software-foundation-the-apache-software-foundation-apache-age-age-apache-the-apache-feather-and-the-apache-age-project-logo-are-either-registered-trademarks-or-trademarks-of-the-apache-software-foundation-span2 {
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.copyright-2024-the-apache-software-foundation-the-apache-software-foundation-apache-age-age-apache-the-apache-feather-and-the-apache-age-project-logo-are-either-registered-trademarks-or-trademarks-of-the-apache-software-foundation-span3 {
  color: #ffffff;
  font-family: "Roboto-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
}
.copyright-2024-the-apache-software-foundation-the-apache-software-foundation-apache-age-age-apache-the-apache-feather-and-the-apache-age-project-logo-are-either-registered-trademarks-or-trademarks-of-the-apache-software-foundation-span4 {
  color: #ffffff;
  font-family: "Roboto-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.div {
  position: sticky;
  left: 0px;
  top: 0px;
}
.group {
  width: 1920px;
  height: 105px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.group-2670 {
  width: 153px;
  height: 48px;
  position: static;
}
.union-5 {
  width: 153px;
  height: 48px;
  position: absolute;
  left: 1707px;
  top: 28px;
  overflow: visible;
}
.download-age {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 1730px;
  top: 42px;
}
.group-2681 {
  width: 663px;
  height: 19px;
  position: static;
}
.apache-age {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 960px;
  top: 42px;
}
.documentation {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1109px;
  top: 42px;
}
.contribution {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1279px;
  top: 42px;
}
.community {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1427px;
  top: 42px;
}
.apache {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1569px;
  top: 42px;
}
.group-5751 {
  width: 80px;
  height: 38.56px;
  position: absolute;
  left: 60px;
  top: 33px;
  overflow: visible;
}
